text=auto eol=lf
*.png binary
*.jpg binary
*.fbx binary
*.obj binary
*.wav binary
*.mp3 binary
*.dll binary
*.exe binary
*.unity binary
*.prefab binary
*.anim binary
*.controller binary
*.mat binary
*.psd binary
*.tga binary
*.hdr binary
